# Exploratory Data Analysis of Auto Insurance Policies 

### Agenda

    1. Quick Data Summary
    2. Facets Dive
    3. Conclusion / Take aways

# Quick Data Summary

In [1]:
import pandas as pd
import pprint as pp

# read data
df = pd.read_csv('data/auto_policies.csv')
# sort values and set index to year and month
df.sort_values(['year', 'month'], inplace=True)
print("Columns")
pp.pprint(df.columns.values.tolist())
print()
print(F"There are {df.shape[0]} rows and {df.shape[1]} columns")

Columns
['year',
 'month',
 'driver_age',
 'driver_gender',
 'driver_employment',
 'driver_marital',
 'driver_location',
 'vehicle_age',
 'vehicle_model',
 'insurance_premium',
 'insurance_claims',
 'insurance_losses']

There are 200000 rows and 12 columns

### Set indexes for the dataframe
Useful for grouping later, can take a few seconds

In [131]:
# Set the year and month to a datetime 
df['date'] = df['month'].map(lambda x: str(x).lstrip('0')) + '/' + df['year'].astype(str)
df['date'].apply(lambda x: pd.to_datetime(x, format='%M/%Y'))
# Set the index
df.set_index('date', inplace=True)

### Separate Categorical values from Numerical Values

In [132]:
print("Here are the categorical columns")
cat_df_auto = df.filter(items=[col for col in df.columns if df[col].dtypes==object], axis=1)
display(cat_df_auto.head())
print()
num_df_auto = df[[col for col in df.columns if df[col].dtypes != object]]
print("Here are the numerical columns")
display(num_df_auto.head())

Here are the categorical columns

,driver_gender,driver_employment,driver_marital,driver_location,vehicle_model
date,,,,,
1/2009,Female,EMPLOYED,Single,Suburban,PICKUP
1/2009,Male,EMPLOYED,Married,Urban,HATCHBACK
1/2009,Male,EMPLOYED,Married,Rural,OTHER_MODEL
1/2009,Female,EMPLOYED,Single,Urban,COUPE_CABRIOLET
1/2009,Male,EMPLOYED,Married,Rural,SUV

Here are the numerical columns

,year,month,driver_age,vehicle_age,insurance_premium,insurance_claims,insurance_losses
date,,,,,,,
1/2009,2009,1,23,14,30.114809,0,0.000000
1/2009,2009,1,46,8,182.375896,0,0.000000
1/2009,2009,1,23,8,41.904738,0,0.000000
1/2009,2009,1,24,14,150.857680,1,1758.763303
1/2009,2009,1,34,11,119.212503,0,0.000000

### How many null values? Memory Size?

In [133]:
print("General DF Info described below")
print(df.info())

General DF Info described below
<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, 1/2009 to 12/2017
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   year               200000 non-null  int64
 1   month              200000 non-null  int64
 2   driver_age         200000 non-null  int64
 3   driver_gender      200000 non-null  object
 4   driver_employment  200000 non-null  object
 5   driver_marital     200000 non-null  object
 6   driver_location    200000 non-null  object
 7   vehicle_age        200000 non-null  int64
 8   vehicle_model      200000 non-null  object
 9   insurance_premium  200000 non-null  float64
 10  insurance_claims   200000 non-null  int64
 11  insurance_losses   200000 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 19.8+ MB
None

### Describe the general statistics of each column.

In [134]:
import json
import pprint as pp


desc = num_df_auto.describe()
for col in desc:
    stats = desc[col]
    print(F"Stats for the column: {col}")
    pp.pprint(json.loads(stats.to_json()))
    print()

Stats for the column: year
{'25%': 2011.0,
 '50%': 2013.0,
 '75%': 2015.0,
 'count': 200000.0,
 'max': 2017.0,
 'mean': 2012.98551,
 'min': 2009.0,
 'std': 2.5547568718}

Stats for the column: month
{'25%': 3.0,
 '50%': 6.0,
 '75%': 9.0,
 'count': 200000.0,
 'max': 12.0,
 'mean': 6.408185,
 'min': 1.0,
 'std': 3.4368967205}

Stats for the column: driver_age
{'25%': 26.0,
 '50%': 34.0,
 '75%': 45.0,
 'count': 200000.0,
 'max': 89.0,
 'mean': 36.460475,
 'min': 11.0,
 'std': 12.8126877976}

Stats for the column: vehicle_age
{'25%': 8.0,
 '50%': 11.0,
 '75%': 14.0,
 'count': 200000.0,
 'max': 14.0,
 'mean': 9.604525,
 'min': 0.0,
 'std': 4.2336313187}

Stats for the column: insurance_premium
{'25%': 52.1392268168,
 '50%': 120.4000065471,
 '75%': 214.4465323984,
 'count': 200000.0,
 'max': 4134.8935575614,
 'mean': 177.6299442918,
 'min': -934.870116422,
 'std': 189.6304465677}

Stats for the column: insurance_claims
{'25%': 0.0,
 '50%': 0.0,
 '75%': 0.0,
 'count': 200000.0,
 'max': 4.0,
 'mean': 0.02826,
 'min': 0.0,
 'std': 0.2013742167}

Stats for the column: insurance_losses
{'25%': 0.0,
 '50%': 0.0,
 '75%': 0.0,
 'count': 200000.0,
 'max': 111853.0375541049,
 'mean': 135.5579177183,
 'min': 0.0,
 'std': 1731.3180014044}

### Extract unique values for the categorical columns

In [135]:
for col in cat_df_auto:
    print(F"Unique values for column {col} are:")
    print(cat_df_auto[col].unique())
    print()

Unique values for column driver_gender are:
['Female' 'Male']

Unique values for column driver_employment are:
['EMPLOYED' 'OTHER_EMP' 'UNEMPLOYED' 'STUDENT' 'HOMEMAKER' 'RETIRED']

Unique values for column driver_marital are:
['Single' 'Married']

Unique values for column driver_location are:
['Suburban' 'Urban' 'Rural']

Unique values for column vehicle_model are:
['PICKUP' 'HATCHBACK' 'OTHER_MODEL' 'COUPE_CABRIOLET' 'SUV' 'VAN' 'SEDAN']

### Analyze relationships in the data - via Distributions
    Focus on the premium, claims, and losses for the dataset and their equivalent probability distributions so that we can quickly identify trends. 
    
### Distributions to Study
    Insurance Premium Distribution by Other Features

    Insurance Losses Distribution by Other Features
    
    Insurance Claims Distribution by Other Features

In [140]:

# Losses > Premium - Insurance Company Loses Money
df[df.insurance_losses > df.insurance_premium]

,year,month,driver_age,driver_gender,driver_employment,driver_marital,driver_location,vehicle_age,vehicle_model,insurance_premium,insurance_claims,insurance_losses
date,,,,,,,,,,,,
1/2009,2009,1,24,Female,EMPLOYED,Single,Urban,14,COUPE_CABRIOLET,150.857680,1,1758.763303
1/2009,2009,1,21,Female,EMPLOYED,Single,Rural,0,SUV,679.238989,1,1071.887522
1/2009,2009,1,29,Male,EMPLOYED,Single,Rural,5,SEDAN,258.211379,1,2282.636110
1/2009,2009,1,19,Female,EMPLOYED,Single,Urban,8,SUV,633.784136,1,3474.061416
1/2009,2009,1,17,Male,EMPLOYED,Single,Rural,8,SEDAN,183.406282,1,2228.274637
...,...,...,...,...,...,...,...,...,...,...,...,...
12/2017,2017,12,28,Male,EMPLOYED,Single,Rural,8,VAN,-51.758174,0,0.000000
12/2017,2017,12,26,Female,HOMEMAKER,Married,Rural,14,SEDAN,-4.988406,0,0.000000
12/2017,2017,12,43,Female,EMPLOYED,Married,Suburban,14,SEDAN,-14.625491,0,0.000000
12/2017,2017,12,39,Male,HOMEMAKER,Married,Urban,14,SEDAN,-10.410375,0,0.000000
12/2017,2017,12,32,Female,HOMEMAKER,Married,Urban,14,SEDAN,-1.176917,0,0.000000

## Quick Data Summary
1. There are 5 categorical columns
    - driver_gender, driver_employment, driver_marital, driver_location, vehicle_model
2. There are 5 numerical columns
    - driver_age, vehicle_age, insurance_premium, insurance_claims, insurance_losses
3. There are 2 date columns
    - year, month
4. 200,000 records all non-null

## Facets Dive - Interactive Data Visualization
### Pros
- Good for initial data discovery. 
- Easy to share with others. 

### Cons
- Does not work well for large datasets >100k records (sampling should be used)
- Is not good for answering specific questions like nullity, sparseness, etc..

In [7]:
"""
Leverage the PAIR-overview Library to visualize data quickly 
Then save the results into a static web page for easy sharing. 
"""
from IPython.core.display import display, HTML

# convert df into json string
jsonstr = auto_policies.to_json(orient='records')
# boilerplate template for facets dive
HTML_TEMPLATE = """
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.3.3/webcomponents-lite.js"></script>
        <link rel="import" href="https://raw.githubusercontent.com/PAIR-code/facets/1.0.0/facets-dist/facets-jupyter.html">
        <facets-dive id="elem" height="600"></facets-dive>
        <script>
          var data = {jsonstr};
          document.querySelector("#elem").data = data;
        </script>"""

# Inject into the Above HTML Template
html = HTML_TEMPLATE.format(jsonstr=jsonstr)
# Leveraging display() will work, but it can be slow for large datasets. (> 100k records)
# So I will save it instead. 
# display(HTML(html))
with open("auto_policy_dive.html", "w") as f:
    f.write(html)